replicaCount: 1

image:
  repository: ghcr.io/douz/do-uptime-kubernetes-operator
  tag: latest
  pullPolicy: IfNotPresent

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

rbac:
  create: true

digitalocean:
  existingSecret: do-token-secret
  createSecret: false
  token: ""

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
