---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: do-monitor-operator
  namespace: kube-system

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: do-monitor-operator-role
rules:
  - apiGroups: [""]
    resources: ["pods", "services", "configmaps", "events", "namespaces"]
    verbs: ["get", "list", "watch", "create"]
  - apiGroups: ["networking.k8s.io"]
    resources: ["ingresses"]
    verbs: ["get", "list", "watch", "patch"]
  - apiGroups: ["apiextensions.k8s.io"]
    resources: ["customresourcedefinitions"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["douz.io"]
    resources: ["domonitors"]
    verbs: ["get", "list", "watch", "create", "update", "patch", "delete"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: do-monitor-operator-binding
subjects:
  - kind: ServiceAccount
    name: do-monitor-operator
    namespace: kube-system
roleRef:
  kind: ClusterRole
  name: do-monitor-operator-role
  apiGroup: rbac.authorization.k8s.io
